@page
@model AutoMaegler.Pages.Order.GetAllOrdersModel
@{
}

<h1> Ordre </h1>

<div class="row">
    <div class="col-4"><h5> Led Efter Navn </h5></div>
    <div class="col-4"><h5> Filter Pris </h5></div>
    <div class="col-4"></div>
</div>

<div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <input asp-formaction="Indtast Navn" class="form-control mr-1" placeholder="Skriv det navn du vil lede efter" />
                <input type="submit" asp-page-handler="NameSearch" value="Søg" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-5">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"> Min Pris </span>
                </div>
                <input asp-formaction="MinPrice" class="form-control mr-1" />

                <div class="input-group-prepend">
                    <span class="input-group-text"> Maks Pris </span>
                </div>
                <input asp-formaction="MaxPrice" class="form-control mr-1" />
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"> Min Leasing Pris </span>
                </div>
                <input asp-formaction="MinLeasingPris" class="form-control mr-1" />

                <div class="input-group-prepend">
                    <span class="input-group-text"> Maks Leasing Pris </span>
                </div>
                <input asp-formaction="MaxLeasingPrice" class="form-control mr-1" />
            </div>
            <div class="input-group mb-3">
                <input type="submit" asp-page-handler="PriceSearch" value="Filtrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
        
    <div class="col-2"></div>
</div>

<table class="table table-bordered table-hover table-striped table-opacity" width="60%">
    <colgroup>
        <col style="width : 5%" />
        <col style="width : 77%" />
        <col style="width : 9%" />
        <col style="width : 9%" />
    </colgroup>
    <thead>
        <tr class="btn-secondary active">
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5> Id </h5></div>
                    <div>
                        <a data-toggle="tooltip" title="Sorter Via Id" asp-asp-page-handler="SortById"><i class="fade fa-angle-up"></i></a>
                        <a data-toogle="tooltip" title="Sorter Via Id Faldende" asp-asp-page-handler="SortByIdDecending"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5> Kunde Navn </h5></div>
                    <div>
                        <a data-toggle="tooltip" title="Soter Via Navn" asp-asp-page-handler="SortByName"><i class="fade fa-angle-up"></i></a>
                        <a data-toogle="tooltip" title="Soter Via Navn Faldende" asp-asp-page-handler="SortByNameDecending"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5> Pris </h5></div>
                    <div>
                        <a data-toggle="tooltip" title="Sorter Via Pris" asp-asp-page-handler="SortByPrice"><i class="fade fa-angle-up"></i></a>
                        <a data-toogle="tooltip" title="Sorter Via Pris Faldende" asp-asp-page-handler="SortByPriceDecending"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </th>
            <th>
                Soterings Metoder
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Orders != null && Model.Orders.Count > 0)
        {
            foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Customer</td>
                    <td>@order.Type</td>
                    <td>
                        <a asp-page-handler="Edit" asp-route-id="@order.Id" class="btn btn-primary">Rediger</a>
                        <a asp-page-handler="Delete" asp-route-id="@order.Id" class="btn btn-danger">Slet</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Ingen ordrer fundet.</td>
            </tr>
        })
    </tbody>
</table>
